
{% extends "Valishina_response/base.html" %}
{% load static %}
{% block title %}Паста карбонара{% endblock %}

{% block content %}

<h1 id="top">Паста карбонара</h1>
<p>Карбонара делается без сливок. Кремовый соус получается из яиц, 
    сыра и воды от пасты. Главное - не перегреть.</p> 

<figure> 
    <img src="{% static 'Valishina_response/karbonara.jpg' %}" alt="Паста карбонара на тарелке" style="max-width:700px; width:100%; height:auto;"> 
    <figcaption>Так выглядит карбонара после смешивания пасты с соусом и беконом.</figcaption> 
</figure> 
<figure> 
    <img src="{% static 'Valishina_response/povar.jpg' %}" alt="Человек готовит домашнюю пасту" style="max-width:700px; width:100%; height:auto;"> 
    <figcaption>На фото показан процесс работы с пастой .</figcaption> 
</figure> 




<p>Навигация по странице: 
    <a href="#section1">Раздел 1</a> | 
    <a href="#section2">Раздел 2</a> | 
    <a href="#top">К началу</a> 
</p> 
<h2 id="section1">Раздел 1. Ингредиенты</h2> 
<h3 id="ingredients">Ингредиенты на 2 порции</h3> 
<ul> 
    <li>Спагетти — 200 г</li> 
    <li>Бекон или панчетта — 120–150 г</li> 
    <li>Яйца — 2 шт (или 1 яйцо + 1 желток)</li> 
    <li>Пармезан или пекорино — 60–80 г</li> 
    <li>Чёрный перец — щедро</li> 
    <li>Соль — для воды</li> 
</ul> 

<figure> 
    <img src="{% static 'Valishina_response/ing.png' %}" alt="Ингредиенты для пасты" style="max-width:700px; width:100%; height:auto;"> 
    <figcaption>Ингредиенты.</figcaption> 
</figure>

<p>Что можно заменить (вложенный список):</p> 
<ul> 
    <li>Мясо: 
        <ul> 
            <li>гуанчале (лучший вариант)</li> 
            <li>панчетта</li> 
            <li>бекон</li> 
        </ul> 
    </li> 
    <li>Сыр: 
        <ul> 
            <li>пекорино романо (классика)</li> 
            <li>пармезан</li> 
            <li>смесь пекорино и пармезана</li> 
        </ul> 
    </li> 
</ul> 
<h2 id="section2">Раздел 2. Приготовление</h2> 
<ol> 
    <li>Поставь воду на пасту. Посоли после закипания.</li> 
    <li>Нарежь бекон и обжарь на сухой сковороде до румяности.</li> 
    <li>В миске смешай яйца, тёртый сыр и чёрный перец.</li> 
    <li>Свари пасту до al dente и сохрани немного воды от пасты.</li> 
    <li>Перемешай пасту с беконом 20–30 секунд.</li> 
    <li>Сними с огня, добавь яично-сырную смесь и быстро перемешай. 
        Подливай воду от пасты понемногу до кремовой текстуры.</li> 
</ol> 
<p>Частые ошибки:</p> 
<ul> 
    <li>Соус стал “омлетом”: сковорода была слишком горячей. Смешивай вне огня.</li> 
    <li>Сухо: добавь воды от пасты и перемешай.</li> 
    <li>Пресно: добавь перца и немного больше сыра.</li> 
</ul> 
<p><a href="#top">К началу страницы</a></p> {% endblock %}